

@font-face {
font-family: 'Oswald';
	src: url('fonts/Oswald-VariableFont_wght.eot');
	src: local('☺'), url('fonts/Oswald-VariableFont_wght.woff') format('woff'), url('fonts/Oswald-VariableFont_wght.ttf') format('truetype'), url('fonts/Oswald-VariableFont_wght.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('fonts/PlayfairDisplay-Italic-VariableFont_wght.eot');
	src: local('☺'), url('fonts/PlayfairDisplay-Italic-VariableFont_wght.woff') format('woff'), url('fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype'), url('fonts/PlayfairDisplay-Italic-VariableFont_wght.svg') format('svg');
	font-weight: 900;
	font-style: italic;
}

.header__title {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-style: italic;
}

body {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	width: 800px;
	padding: 10px;
	margin: auto;
}
